@import "tailwindcss";

/* ===== Scrollbar Hide ===== */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE & Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Extra safety */
html,
body {
    overflow-x: hidden;
}